<div  class="tech-btm">
	<p>Teknoloji,yazılım ve diğer bloglar... </p>
	<form  method="post">
        <input type="email" id="mail" placeholder="Email" required="" name="Mail">
		<input type="submit" id="btn" value="Abone Ol" >
	</form>


</div>
<script type="text/javascript">
	$("#btn").click(function(){
		let values={
			Mail:$("#mail").val()
		};
		$.ajax(
			 {
				 type:"post",
				url: "/NewsLetter/NewsLetterAdd/",
				data:values,
				success:function(func){
					let results=jQuery.parseJSON(func);
				}
			 }
		);
	});

</script>
<script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>

