@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> localizer

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
</head>
<body>
    <h1>@localizer["BU BİR DENEME YAZISDIR"]</h1>
</body>
</html>
